<!DOCTYPE html>
<html>
    <head>
        <title>Unit 4 Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
    </head>
    <body>
        <div class="container">
            <h1>Dallin Clarke</h1>
            <button onclick="window.location.href='/'">Home</button>
            <div class="contact section">
                <h2>Contact Information</h2>
                <p>Email: dallin.clarke@usu.edu</p>
                <p>Phone: (555) 123-4567</p>
            </div>
            <div class="experience section">
                <h2>Work Experience</h2>
                <p>Adventure Guide at Maverik (2020-2022)</p>
                <p>Student Desktop Support at Utah State University (2022-Current)</p>
            </div>
            <div class="education section">
                <h2>Education</h2>
                <p>Bachelor of Science in Computer Science, Some University (2012 - 2016)</p>
            </div>
            <div class="skills section">
                <h2>Skills</h2>
                <ul>
                    <li>HTML, CSS, JavaScript</li>
                    <li>Python, Java</li>
                    <li>AWS, Linux</li>
                </ul>
            </div>
        </div>

    </body>
</html>